[Unit]
Description=Noteworthy Tuner Website
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/sudo -i -u darshan /home/darshan/bin/run-noteworthy

[Install]
WantedBy=multi-user.target
